@font-face {
    font-family: 'BebasNeueBold';
    src: url('fonts/BebasNeueBold.eot');
    src: url('fonts/BebasNeueBold.eot') format('embedded-opentype'),
         url('fonts/BebasNeueBold.woff2') format('woff2'),
         url('fonts/BebasNeueBold.woff') format('woff'),
         url('fonts/BebasNeueBold.ttf') format('truetype'),
         url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
}
